# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Database
db.sqlite3
*.sqlite3

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
