{% extends "base.html" %}
{% block content %}
<div class="card shadow-lg border-0 p-5 text-center"
    style="border-radius: 20px; width: 100%; max-width: 450px; color: #333;">
    <h3 class="fw-bold mb-3" style="color: #5a3791;">Yeni Şifre Belirle</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3 text-start">
            <label class="form-label small fw-bold">{{ field.label }}</label>
            {{ field.errors }}
            <input type="password" name="{{ field.html_name }}" class="form-control" style="border-radius: 10px;">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary w-100 shadow"
            style="background-color: #764ba2; border: none; border-radius: 10px;">Şifremi Güncelle</button>
    </form>
</div>
{% endblock %}